.git
.github
.gitignore
.env
.env.example
.editorconfig
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
docker
tests
phpunit.xml
README.md
*.md
.vscode
.idea
.DS_Store
Thumbs.db
